<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

</style>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="animation-cover">
    <app-rocket @bounce></app-rocket>
    <p>Bounce</p>
  </div>
  <div class="animation-cover">
    <app-rocket @flash></app-rocket>
    <p>Flash</p>
  </div>
  <div class="animation-cover">
    <app-rocket @pulse></app-rocket>
    <p>Pulse</p>
  </div>
  <div class="animation-cover">
    <app-rocket @rubberband></app-rocket>
    <p>Rubberband</p>
  </div>
  <div class="animation-cover">
    <app-rocket @shakeX></app-rocket>
    <p>ShakeX</p>
  </div>
  <div class="animation-cover">
    <app-rocket @shakeY></app-rocket>
    <p>ShakeY</p>
  </div>
  <div class="animation-cover">
    <app-rocket @headshake></app-rocket>
    <p>Headshake</p>
  </div>
  <div class="animation-cover">
    <app-rocket @swing></app-rocket>
    <p>Swing</p>
  </div>
  <div class="animation-cover">
    <app-rocket @tada></app-rocket>
    <p>Tada</p>
  </div>
  <div class="animation-cover">
    <app-rocket @wobble></app-rocket>
    <p>Wobble</p>
  </div>
  <div class="animation-cover">
    <app-rocket @jello></app-rocket>
    <p>Jello</p>
  </div>
  <div class="animation-cover">
    <app-rocket @heartbeat></app-rocket>
    <p>Heartbeat</p>
  </div>
</div>
